In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import glob

# One Account

In [2]:
#Loading ST mapping file
st_mapping = pd.read_excel(r"C:\Users\cmedinag\OneDrive - Nub78\Documentos\Tableau CM\Mapping Files\2-Success_Track_Pricing_List.xlsx",dtype={'L2NBD':float, 'L2SWT':float},sheet_name="Success Track PIDs").fillna(0)
st_mapping = st_mapping[['Product SKU','L2NBD','L2SWT']]
st_mapping

             Product SKU    L2NBD  L2SWT
0       6807-S6T-10G-40G  13885.0    0.0
1              ACI-AD-GF      0.0    0.0
2             ACI-AD-GF=      0.0    0.0
3              ACI-AD-XF      0.0    0.0
4             ACI-AD-XF=      0.0    0.0
...                  ...      ...    ...
5430  WS4510E-S8+96SFP++  13127.0    0.0
5431  WSC2960X24TSLL++RF    286.0    0.0
5432  WSC3560CX12TCS++RF    247.0    0.0
5433  WSC3560CX12TCS++WS    247.0    0.0
5434  WSC4510RES7+96V+WS   9352.0    0.0

[5435 rows x 3 columns]

In [4]:
IB = pd.read_csv(r'C:\Users\cmedinag\OneDrive - Nub78\Documentos\Tableau CM\OP\March\2022-03-09\OP_EMEAR_GU ID_124431_CLARIANTDEUTSC_2022_3_9\Data\IB\IB.csv')
IB

,Best Site GU Party ID,Best Site GU Party Name,Best Site ID,Best Site Customer Name,Best Site Sales Level 2 Name,Coverage,Contract Number,Covered Line Status,Contract Type,Contract Line End Quarter,...,SWSS Flag,Default Service List Price USD,Item Quantity,Annual Extended Contract Line List USD Amount,Annual Contract Line Net USD Amount,Annualized Extended Contract Line List USD Amount,Annualized Contract Line Net USD Amount,Contract Line List Price USD,Contract Line Net Price USD,Asset List Amount
0,124431,CLARIANT AG,-9999.0,UNKNOWN,US COMMERCIAL,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
1,124431,CLARIANT AG,-9999.0,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,124431,CLARIANT AG,-9999.0,UNKNOWN,EMEAR-CENTRAL,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
3,124431,CLARIANT AG,-9999.0,UNKNOWN,EMEAR-CENTRAL,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,168.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
4,124431,CLARIANT AG,-9999.0,UNKNOWN,EMEAR-CENTRAL,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,81.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,124431,CLARIANT AG,-9999.0,UNKNOWN,US COMMERCIAL,COVERED,202437026.0,ACTIVE,3SNT,20232,...,N,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0,8025.00
3200,124431,CLARIANT AG,-9999.0,UNKNOWN,EMEAR-SOUTH,COVERED,204527546.0,ACTIVE,SNTP,20252,...,N,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,16478.00
3201,124431,CLARIANT AG,-9999.0,UNKNOWN,EMEAR-CENTRAL,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,647.35
3202,124431,CLARIANT AG,-9999.0,UNKNOWN,EMEAR_GERMANY,COVERED,202679777.0,ACTIVE,SNTP,20224,...,N,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1714.90
3203,124431,CLARIANT AG,-9999.0,UNKNOWN,US COMMERCIAL,COVERED,202999640.0,ACTIVE,3SNT,20232,...,N,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2675.00

In [13]:
IB.iloc[:,32]

0           0.00
1           0.00
2           0.00
3           0.00
4           0.00
          ...
3199     8025.00
3200    16478.00
3201      647.35
3202     1714.90
3203     2675.00
Name: Asset List Amount, Length: 3204, dtype: float64

In [8]:

#------------------------------------------------Calculating Success Tracks Column-------------------------------------------------
#if product id is not on mapping, mark it as 'Not Elegible'
merge1 = IB.merge(st_mapping, left_on='Product ID', right_on='Product SKU', how='left')
merge1 = merge1.rename(columns={'Product SKU':'Success Tracks'})
merge1['Success Tracks'] = merge1['Success Tracks'].fillna('Not Elegible')
j=merge1.iloc[0,0]
#-----------------------------------------------------------------------------------------------------------------
# if contract type is in list_st mark it as 'Not Elegible'
lista_st = ['L1NB3','L1NB5','L1NBD','L1SWT','L24H3','L24H5','L24HR','L2NB3','L2NB5','L2NBD','L2SWT']
for i in merge1.index:
    if type(merge1.iloc[i,8]) == float:
        pass
    else:
        if merge1.iloc[i,8] in lista_st:
            merge1.iloc[i,33]=merge1.iloc[i,8].replace(merge1.iloc[i,8],'Not Elegible')
#------------------------------------------------------------------------------------------------------------------
#Else mark it as 'Elegible'
for i in merge1.index:
    if merge1.iloc[i,33] != 'Not Elegible':
        merge1.iloc[i,33]=merge1.iloc[i,33].replace(merge1.iloc[i,33],'Elegible')

#-----------------------------------------------Calculating SmartNet NBD ST Eligible-----------------------------------------------
#If the product it's elegible use the annualized extended contract line list USD Amount, otherwise it's 0
merge1['SmartNet NBD ST Eligible'] = merge1['Annualized Extended Contract Line List USD Amount']
for i in merge1.index:
    if merge1.iloc[i,33] != 'Elegible':
        merge1.iloc[i,36] = 0
#-----------------------------------------------Calculating DNA HW Appliance-----------------------------------------------
#Check if 'DN2-HW-APL' or 'DN1-HW-APL' is in product ID and mark it as 1
merge1['DNA HW Appliance'] = merge1['Product ID']
for i in merge1.index:
    if 'DN2-HW-APL' in merge1.iloc[i,21] or 'DN1-HW-APL' in merge1.iloc[i,21]:
        merge1.iloc[i,37] = merge1.iloc[i,37].replace(merge1.iloc[i,37], '1')
# If not mark it as 0
for i in merge1.index:
    if merge1.iloc[i,37] != '1':
        merge1.iloc[i,37] = '0'

#-----------------------------------------------Calculating SmartNet ST Not Covered-----------------------------------------------
# If it's not covered and 1 in DNA HW Appliance get the annualized extended contract line list USD Amount
merge1['SmartNet ST Not Covered'] = 0
for i in merge1.index:
    if merge1.iloc[i,5] == 'NOT COVERED' and merge1.iloc[i,37] == '1' :
        merge1.iloc[i,38] = merge1.iloc[i,28]

#-----------------------------------------------Calculating ST Estimated List Price-----------------------------------------------
#merge1['ST Estimated List Price'] = (merge1['L2NBD'] + merge1['L2SWT'])*merge1['Item Quantity']
merge1['ST Estimated List Price'] = merge1['L2NBD']*merge1['Item Quantity']

#------------------------------------------------------Filtering------------------------------------------------------------------
merge1 = merge1[merge1['Coverage'] == 'COVERED']
merge1 = merge1[merge1['Success Tracks'] == 'Elegible']

#----------------------------------------Calculating Total ST Oppty KPI------------------------------------------------------------

sn_nbd_st_e = merge1['SmartNet NBD ST Eligible'].sum()
sn_st_not_covered = merge1['SmartNet ST Not Covered'].sum()
st_e_list_price = merge1['ST Estimated List Price'].sum()
ST_Oppty= st_e_list_price - sn_st_not_covered - sn_nbd_st_e

if len(merge1) == 0:
    #lista_oppty.append('N/A')
    #lista_sav_id.append(j)
    print('Account ID: ',j,'ST_Oppty: ', 'N/A')


if ST_Oppty < 0:

    merge1 = IB.merge(st_mapping, left_on='Product ID', right_on='Product SKU', how='left')
    merge1 = merge1.rename(columns={'Product SKU':'Success Tracks'})
    merge1['Success Tracks'] = merge1['Success Tracks'].fillna('Not Elegible')
    #-----------------------------------------------------------------------------------------------------------------
    # if contract type is in list_st mark it as 'Not Elegible'
    lista_st = ['L1NB3','L1NB5','L1NBD','L1SWT','L24H3','L24H5','L24HR','L2NB3','L2NB5','L2NBD','L2SWT']
    for i in merge1.index:
        if type(merge1.iloc[i,8]) == float:
            pass
        else:
            if merge1.iloc[i,8] in lista_st:
                merge1.iloc[i,33]=merge1.iloc[i,8].replace(merge1.iloc[i,8],'Not Elegible')
    #------------------------------------------------------------------------------------------------------------------
    #Else mark it as 'Elegible'
    for i in merge1.index:
        if merge1.iloc[i,33] != 'Not Elegible':
            merge1.iloc[i,33]=merge1.iloc[i,33].replace(merge1.iloc[i,33],'Elegible')


    merge1['SmartNet NBD ST Eligible'] = merge1['Default Service List Price USD']
    for i in merge1.index:
        if merge1.iloc[i,33] != 'Elegible':
            merge1.iloc[i,36] = 0
    #-----------------------------------------------Calculating DNA HW Appliance-----------------------------------------------
    #Check if 'DN2-HW-APL' or 'DN1-HW-APL' is in product ID and mark it as 1
    merge1['DNA HW Appliance'] = merge1['Product ID']
    for i in merge1.index:
        if 'DN2-HW-APL' in merge1.iloc[i,21] or 'DN1-HW-APL' in merge1.iloc[i,21]:
            merge1.iloc[i,37] = merge1.iloc[i,37].replace(merge1.iloc[i,37], '1')
    # If not mark it as 0
    for i in merge1.index:
        if merge1.iloc[i,37] != '1':
            merge1.iloc[i,37] = '0'

    #-----------------------------------------------Calculating SmartNet ST Not Covered-----------------------------------------------
    # If it's not covered and 1 in DNA HW Appliance get the annualized extended contract line list USD Amount
    merge1['SmartNet ST Not Covered'] = 0
    for i in merge1.index:
        if merge1.iloc[i,5] == 'NOT COVERED' and merge1.iloc[i,37] == '1' :
            merge1.iloc[i,38] = merge1.iloc[i,24]

    #-----------------------------------------------Calculating ST Estimated List Price-----------------------------------------------
    #merge1['ST Estimated List Price'] = (merge1['L2NBD'] + merge1['L2SWT'])*merge1['Item Quantity']
    merge1['ST Estimated List Price'] = merge1['L2NBD']*merge1['Item Quantity']

    #------------------------------------------------------Filtering------------------------------------------------------------------
    merge1 = merge1[merge1['Coverage'] == 'COVERED']
    merge1 = merge1[merge1['Success Tracks'] == 'Elegible']

    #----------------------------------------Calculating Total ST Oppty KPI------------------------------------------------------------

    sn_nbd_st_e = merge1['SmartNet NBD ST Eligible'].sum()
    sn_st_not_covered = merge1['SmartNet ST Not Covered'].sum()
    st_e_list_price = merge1['ST Estimated List Price'].sum()
    ST_Oppty= st_e_list_price - sn_st_not_covered - sn_nbd_st_e
    #lista_oppty.append(round(ST_Oppty/1000, 1))
    #lista_sav_id.append(j)
    print('Account ID: ',j,'ST_Oppty: ', round(ST_Oppty/1000, 1), 'Estimated list price: ', st_e_list_price, 'Originally Negative')
else:
    #lista_oppty.append(round(ST_Oppty/1000, 1))
    #lista_sav_id.append(j)
    print('Account ID: ',j,'ST_Oppty: ', round(ST_Oppty/1000, 1), 'Estimated list price: ', st_e_list_price)

Account ID:  283715236 ST_Oppty:  4357.0 Estimated list price:  12636914.43

# FUNCTION

In [13]:
def ST_Oppty(path,st_mapping):
    '''
    Def:
        Calculates the Success Tracks opportunity.
    Inputs:
        df = dataframe containing the IB
        st_mapping = Success tracks price list
    Outs:
        ST_Oppty value in k
    '''
    #Loading necesary files
    st_mapping = st_mapping[['Product SKU','L2NBD','L2SWT']]
    IB = pd.read_csv(path)
    #IB = df.copy()
    
    #------------------------------------------------Calculating Success Tracks Column-------------------------------------------------
    #if product id is not on mapping, mark it as 'Not Elegible'
    merge1 = IB.merge(st_mapping, left_on='Product ID', right_on='Product SKU', how='left')
    merge1 = merge1.rename(columns={'Product SKU':'Success Tracks'})
    merge1['Success Tracks'] = merge1['Success Tracks'].fillna('Not Elegible')
    j=merge1.iloc[0,0]
    #-----------------------------------------------------------------------------------------------------------------
    # if contract type is in list_st mark it as 'Not Elegible'
    lista_st = ['L1NB3','L1NB5','L1NBD','L1SWT','L24H3','L24H5','L24HR','L2NB3','L2NB5','L2NBD','L2SWT']
    for i in merge1.index:
        if type(merge1.iloc[i,8]) == float:
            pass
        else:
            if merge1.iloc[i,8] in lista_st:
                merge1.iloc[i,33]=merge1.iloc[i,8].replace(merge1.iloc[i,8],'Not Elegible')
    #------------------------------------------------------------------------------------------------------------------
    #Else mark it as 'Elegible'
    for i in merge1.index:
        if merge1.iloc[i,33] != 'Not Elegible':
            merge1.iloc[i,33]=merge1.iloc[i,33].replace(merge1.iloc[i,33],'Elegible')

    #-----------------------------------------------Calculating SmartNet NBD ST Eligible-----------------------------------------------
    #If the product it's elegible use the annualized extended contract line list USD Amount, otherwise it's 0
    merge1['SmartNet NBD ST Eligible'] = merge1['Annualized Extended Contract Line List USD Amount']
    for i in merge1.index:
        if merge1.iloc[i,33] != 'Elegible':
            merge1.iloc[i,36] = 0
    #-----------------------------------------------Calculating DNA HW Appliance-----------------------------------------------
    #Check if 'DN2-HW-APL' or 'DN1-HW-APL' is in product ID and mark it as 1
    merge1['DNA HW Appliance'] = merge1['Product ID']
    for i in merge1.index:
        if 'DN2-HW-APL' in merge1.iloc[i,21] or 'DN1-HW-APL' in merge1.iloc[i,21]:
            merge1.iloc[i,37] = merge1.iloc[i,37].replace(merge1.iloc[i,37], '1')
    # If not mark it as 0
    for i in merge1.index:
        if merge1.iloc[i,37] != '1':
            merge1.iloc[i,37] = '0'

    #-----------------------------------------------Calculating SmartNet ST Not Covered-----------------------------------------------
    # If it's not covered and 1 in DNA HW Appliance get the annualized extended contract line list USD Amount
    merge1['SmartNet ST Not Covered'] = 0
    for i in merge1.index:
        if merge1.iloc[i,5] == 'NOT COVERED' and merge1.iloc[i,37] == '1' :
            merge1.iloc[i,38] = merge1.iloc[i,28]

    #-----------------------------------------------Calculating ST Estimated List Price-----------------------------------------------
    #merge1['ST Estimated List Price'] = (merge1['L2NBD'] + merge1['L2SWT'])*merge1['Item Quantity']
    merge1['ST Estimated List Price'] = merge1['L2NBD']*merge1['Item Quantity']

    #------------------------------------------------------Filtering------------------------------------------------------------------
    merge1 = merge1[merge1['Coverage'] == 'COVERED']
    merge1 = merge1[merge1['Success Tracks'] == 'Elegible']

    #----------------------------------------Calculating Total ST Oppty KPI------------------------------------------------------------

    sn_nbd_st_e = merge1['SmartNet NBD ST Eligible'].sum()
    sn_st_not_covered = merge1['SmartNet ST Not Covered'].sum()
    st_e_list_price = merge1['ST Estimated List Price'].sum()
    ST_Oppty= st_e_list_price - sn_st_not_covered - sn_nbd_st_e

    if len(merge1) == 0:
        lista_oppty.append('N/A')
        lista_sav_id.append(j)
        return 'Account ID: ',j,'ST_Oppty: ', 'N/A'


    if ST_Oppty < 0:

        merge1 = IB.merge(st_mapping, left_on='Product ID', right_on='Product SKU', how='left')
        merge1 = merge1.rename(columns={'Product SKU':'Success Tracks'})
        merge1['Success Tracks'] = merge1['Success Tracks'].fillna('Not Elegible')
        #-----------------------------------------------------------------------------------------------------------------
        # if contract type is in list_st mark it as 'Not Elegible'
        lista_st = ['L1NB3','L1NB5','L1NBD','L1SWT','L24H3','L24H5','L24HR','L2NB3','L2NB5','L2NBD','L2SWT']
        for i in merge1.index:
            if type(merge1.iloc[i,8]) == float:
                pass
            else:
                if merge1.iloc[i,8] in lista_st:
                    merge1.iloc[i,33]=merge1.iloc[i,8].replace(merge1.iloc[i,8],'Not Elegible')
        #------------------------------------------------------------------------------------------------------------------
        #Else mark it as 'Elegible'
        for i in merge1.index:
            if merge1.iloc[i,33] != 'Not Elegible':
                merge1.iloc[i,33]=merge1.iloc[i,33].replace(merge1.iloc[i,33],'Elegible')


        merge1['SmartNet NBD ST Eligible'] = merge1['Default Service List Price USD']
        for i in merge1.index:
            if merge1.iloc[i,33] != 'Elegible':
                merge1.iloc[i,36] = 0
        #-----------------------------------------------Calculating DNA HW Appliance-----------------------------------------------
        #Check if 'DN2-HW-APL' or 'DN1-HW-APL' is in product ID and mark it as 1
        merge1['DNA HW Appliance'] = merge1['Product ID']
        for i in merge1.index:
            if 'DN2-HW-APL' in merge1.iloc[i,21] or 'DN1-HW-APL' in merge1.iloc[i,21]:
                merge1.iloc[i,37] = merge1.iloc[i,37].replace(merge1.iloc[i,37], '1')
        # If not mark it as 0
        for i in merge1.index:
            if merge1.iloc[i,37] != '1':
                merge1.iloc[i,37] = '0'

        #-----------------------------------------------Calculating SmartNet ST Not Covered-----------------------------------------------
        # If it's not covered and 1 in DNA HW Appliance get the annualized extended contract line list USD Amount
        merge1['SmartNet ST Not Covered'] = 0
        for i in merge1.index:
            if merge1.iloc[i,5] == 'NOT COVERED' and merge1.iloc[i,37] == '1' :
                merge1.iloc[i,38] = merge1.iloc[i,24]

        #-----------------------------------------------Calculating ST Estimated List Price-----------------------------------------------
        #merge1['ST Estimated List Price'] = (merge1['L2NBD'] + merge1['L2SWT'])*merge1['Item Quantity']
        merge1['ST Estimated List Price'] = merge1['L2NBD']*merge1['Item Quantity']

        #------------------------------------------------------Filtering------------------------------------------------------------------
        merge1 = merge1[merge1['Coverage'] == 'COVERED']
        merge1 = merge1[merge1['Success Tracks'] == 'Elegible']

        #----------------------------------------Calculating Total ST Oppty KPI------------------------------------------------------------

        sn_nbd_st_e = merge1['SmartNet NBD ST Eligible'].sum()
        sn_st_not_covered = merge1['SmartNet ST Not Covered'].sum()
        st_e_list_price = merge1['ST Estimated List Price'].sum()
        ST_Oppty= st_e_list_price - sn_st_not_covered - sn_nbd_st_e
        lista_oppty.append(round(ST_Oppty/1000, 1))
        lista_sav_id.append(j)
        return 'Account ID: ',j,'ST_Oppty: ', round(ST_Oppty/1000, 1), 'Estimated list price: ', st_e_list_price, 'Originally Negative'
    else:
        lista_oppty.append(round(ST_Oppty/1000, 1))
        lista_sav_id.append(j)
        return 'Account ID: ',j,'ST_Oppty: ', round(ST_Oppty/1000, 1), 'Estimated list price: ', st_e_list_price

# TESTING

In [16]:
path = r'C:\Users\cmedinag\OneDrive - Nub78\Documentos\Tableau CM\OP\February\2022-02-04\*'


#El codigo extrae la url de cada imagen en el pc
listaarchivos = []
for file in glob.glob(path):
    print(file+'\Data\IB\IB.csv')
    listaarchivos.append(file+'\Data\IB\IB.csv')

C:\Users\cmedinag\OneDrive - Nub78\Documentos\Tableau CM\OP\February\2022-02-04\OP_APJC_SAV ID_203797997_Test13_2022_2_4\Data\IB\IB.csv
C:\Users\cmedinag\OneDrive - Nub78\Documentos\Tableau CM\OP\February\2022-02-04\OP_APJC_SAV ID_203892264_Test14_2022_2_4\Data\IB\IB.csv
C:\Users\cmedinag\OneDrive - Nub78\Documentos\Tableau CM\OP\February\2022-02-04\OP_APJC_SAV ID_283714970_Test11_2022_2_4\Data\IB\IB.csv
C:\Users\cmedinag\OneDrive - Nub78\Documentos\Tableau CM\OP\February\2022-02-04\OP_APJC_SAV ID_283715230_Test12_2022_2_4\Data\IB\IB.csv
C:\Users\cmedinag\OneDrive - Nub78\Documentos\Tableau CM\OP\February\2022-02-04\OP_APJC_SAV ID_283715236_Test10_2022_2_4\Data\IB\IB.csv

In [17]:
%%time
# Ahora se calculan todos lo IB value de los archivos mediante un ciclo
# Calculando todos los IB_Value en bache
#Las listas se generan afuera y en ellas se almacenan los datos calculados
lista_oppty = []
lista_sav_id = []
for i in listaarchivos:
    print(ST_Oppty(i, st_mapping))

('Account ID: ', 203797997, 'ST_Oppty: ', 22797.1, 'Estimated list price: ', 42845365.67)
('Account ID: ', 203892264, 'ST_Oppty: ', 482.1, 'Estimated list price: ', 973047.51)
('Account ID: ', 283714970, 'ST_Oppty: ', 2028.7, 'Estimated list price: ', 4668567.01)
('Account ID: ', 283715230, 'ST_Oppty: ', 4250.0, 'Estimated list price: ', 14936245.44)
('Account ID: ', 283715236, 'ST_Oppty: ', 4357.0, 'Estimated list price: ', 12636914.43)
Wall time: 12min 7s

# More than one Account in IB file

In [3]:
path = r'C:\Users\cmedinag\OneDrive - Nub78\Documentos\Initiatives\FY22Q2 - High Potential Acoounts\HPA DATA2\*'

lista_sav_IB= []

for file in glob.glob(path):
    lista_sav_IB.append(file)
    
SAV_IB =pd.DataFrame()

for i in lista_sav_IB:
    df =pd.read_csv(i,dtype={'SAV ID':str,
                            'Instance Shipped Fiscal Year':str,
                            'Item Quantity':float,
                            'LDoS FY':str,
                            'Best Site ID':int,
                            'Contract Type':str,
                            'Covered Line Status':str,
                            'Contract Number':str,
                            'Service Brand Code':str,
                            "Asset List Amount":float},decimal=",")
    df.insert(loc=2, column='Best Site ID', value=-9999)
    df.insert(loc=3, column='Best Site Customer Name', value='UNKNOWN')
    SAV_IB = pd.concat([df,SAV_IB], axis=0)
IB_full = SAV_IB
IB_full

,SAV ID,SAV Name,Best Site ID,Best Site Customer Name,Best Site Sales Level 2 Name,Coverage,Contract Number,Covered Line Status,Contract Type,Contract Line End Quarter,...,SWSS Flag,Default Service List Price USD,Item Quantity,Annual Extended Contract Line List USD Amount,Annual Contract Line Net USD Amount,Annualized Extended Contract Line List USD Amount,Annualized Contract Line Net USD Amount,Contract Line List Price USD,Contract Line Net Price USD,Asset List Amount
0,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,512.01
1,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,2589.44
2,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,229.53
3,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,74.0,NaN,NaN,NaN,NaN,NaN,NaN,13064.70
4,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,423.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415803,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,COVERED,204218335,ACTIVE,PSUP,20251,...,N,165.0,1.0,479.85,86.276667,159.95,86.276667,479.85,258.83,2818.92
415804,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,3636.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,89863.95
415805,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,42889.88
415806,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,2882.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,60536.00
415807,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,688.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,17731.51

In [4]:
IB_full[IB_full['SAV ID'] == '283715236']

,SAV ID,SAV Name,Best Site ID,Best Site Customer Name,Best Site Sales Level 2 Name,Coverage,Contract Number,Covered Line Status,Contract Type,Contract Line End Quarter,...,SWSS Flag,Default Service List Price USD,Item Quantity,Annual Extended Contract Line List USD Amount,Annual Contract Line Net USD Amount,Annualized Extended Contract Line List USD Amount,Annualized Contract Line Net USD Amount,Contract Line List Price USD,Contract Line Net Price USD,Asset List Amount
110033,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,201041554,EXPIRED,ECMU,20191,...,Y,NaN,1.0,194.883929,122.44,184.505495,122.776374,184.00,122.44,NaN
110034,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,1199.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
110035,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
110036,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,801.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
110037,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,435.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218257,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,202146921,TERMINATED,SPAR1,20234,...,N,86.0,2.0,510.620000,0.00,118.259074,0.000000,510.62,0.00,1071.08
218258,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,COVERED,202146921,ACTIVE,SPAR1,20234,...,N,NaN,4.0,0.000000,0.00,0.000000,0.000000,0.00,0.00,517.88
218259,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,202146921,TERMINATED,SPAR1,20234,...,N,NaN,2.0,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00
218260,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,202146921,TERMINATED,SPAR1,20234,...,N,NaN,2.0,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.00
218261,283715236,SBU_BR_DIST_OTHERS120,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,1552.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,33709.28

In [5]:
#Loading necesary files
st_mapping = st_mapping[['Product SKU','L2NBD','L2SWT']]
IB = IB_full.copy()
lista_id = IB.iloc[:,0].unique().tolist()
IB

,SAV ID,SAV Name,Best Site ID,Best Site Customer Name,Best Site Sales Level 2 Name,Coverage,Contract Number,Covered Line Status,Contract Type,Contract Line End Quarter,...,SWSS Flag,Default Service List Price USD,Item Quantity,Annual Extended Contract Line List USD Amount,Annual Contract Line Net USD Amount,Annualized Extended Contract Line List USD Amount,Annualized Contract Line Net USD Amount,Contract Line List Price USD,Contract Line Net Price USD,Asset List Amount
0,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,512.01
1,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,2589.44
2,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,229.53
3,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,74.0,NaN,NaN,NaN,NaN,NaN,NaN,13064.70
4,222173994,BELIZE TELECOM,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,423.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415803,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,COVERED,204218335,ACTIVE,PSUP,20251,...,N,165.0,1.0,479.85,86.276667,159.95,86.276667,479.85,258.83,2818.92
415804,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,3636.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,89863.95
415805,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,42889.88
415806,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,2882.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,60536.00
415807,283715230,SBU_PSR_MEX_CENTER_PSR105,-9999,UNKNOWN,LATIN AMERICA,NOT COVERED,NaN,NaN,NaN,19009,...,N,688.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,17731.51

In [6]:
%%time
#Loading necesary files
st_mapping = st_mapping[['Product SKU','L2NBD','L2SWT']]
IB_copy = IB_full.copy()
lista_id = IB_copy.iloc[:,0].unique().tolist()
lista_oppty =[]
lista_sav_id = []
for j in lista_id:
    IB=IB_copy[IB_copy.iloc[:,0] == j]
    #------------------------------------------------Calculating Success Tracks Column-------------------------------------------------
    #if product id is not on mapping, mark it as 'Not Elegible'
    merge1 = IB.merge(st_mapping, left_on='Product ID', right_on='Product SKU', how='left')
    merge1 = merge1.rename(columns={'Product SKU':'Success Tracks'})
    merge1['Success Tracks'] = merge1['Success Tracks'].fillna('Not Elegible')
    #-----------------------------------------------------------------------------------------------------------------
    # if contract type is in list_st mark it as 'Not Elegible'
    lista_st = ['L1NB3','L1NB5','L1NBD','L1SWT','L24H3','L24H5','L24HR','L2NB3','L2NB5','L2NBD','L2SWT']
    for i in merge1.index:
        if type(merge1.iloc[i,8]) == float:
            pass
        else:
            if merge1.iloc[i,8] in lista_st:
                merge1.iloc[i,33]=merge1.iloc[i,8].replace(merge1.iloc[i,8],'Not Elegible')
    #------------------------------------------------------------------------------------------------------------------
    #Else mark it as 'Elegible'
    for i in merge1.index:
        if merge1.iloc[i,33] != 'Not Elegible':
            merge1.iloc[i,33]=merge1.iloc[i,33].replace(merge1.iloc[i,33],'Elegible')

    #-----------------------------------------------Calculating SmartNet NBD ST Eligible-----------------------------------------------
    #If the product it's elegible use the annualized extended contract line list USD Amount, otherwise it's 0
    merge1['SmartNet NBD ST Eligible'] = merge1['Annualized Extended Contract Line List USD Amount']
    for i in merge1.index:
        if merge1.iloc[i,33] != 'Elegible':
            merge1.iloc[i,36] = 0
    #-----------------------------------------------Calculating DNA HW Appliance-----------------------------------------------
    #Check if 'DN2-HW-APL' or 'DN1-HW-APL' is in product ID and mark it as 1
    merge1['DNA HW Appliance'] = merge1['Product ID']
    for i in merge1.index:
        if 'DN2-HW-APL' in merge1.iloc[i,21] or 'DN1-HW-APL' in merge1.iloc[i,21]:
            merge1.iloc[i,37] = merge1.iloc[i,37].replace(merge1.iloc[i,37], '1')
    # If not mark it as 0
    for i in merge1.index:
        if merge1.iloc[i,37] != '1':
            merge1.iloc[i,37] = '0'

    #-----------------------------------------------Calculating SmartNet ST Not Covered-----------------------------------------------
    # If it's not covered and 1 in DNA HW Appliance get the annualized extended contract line list USD Amount
    merge1['SmartNet ST Not Covered'] = 0
    for i in merge1.index:
        if merge1.iloc[i,5] == 'NOT COVERED' and merge1.iloc[i,37] == '1' :
            merge1.iloc[i,38] = merge1.iloc[i,28]

    #-----------------------------------------------Calculating ST Estimated List Price-----------------------------------------------
    #merge1['ST Estimated List Price'] = (merge1['L2NBD'] + merge1['L2SWT'])*merge1['Item Quantity']
    merge1['ST Estimated List Price'] = merge1['L2NBD']*merge1['Item Quantity']

    #------------------------------------------------------Filtering------------------------------------------------------------------
    merge1 = merge1[merge1['Coverage'] == 'COVERED']
    merge1 = merge1[merge1['Success Tracks'] == 'Elegible']

    #----------------------------------------Calculating Total ST Oppty KPI------------------------------------------------------------

    sn_nbd_st_e = merge1['SmartNet NBD ST Eligible'].sum()
    sn_st_not_covered = merge1['SmartNet ST Not Covered'].sum()
    st_e_list_price = merge1['ST Estimated List Price'].sum()
    ST_Oppty= st_e_list_price - sn_st_not_covered - sn_nbd_st_e

    if len(merge1) == 0:
        lista_oppty.append('N/A')
        lista_sav_id.append(j)
        print('Account ID: ',j,'ST_Oppty: ', 'N/A')
        
        
    if ST_Oppty < 0:
        
        merge1 = IB.merge(st_mapping, left_on='Product ID', right_on='Product SKU', how='left')
        merge1 = merge1.rename(columns={'Product SKU':'Success Tracks'})
        merge1['Success Tracks'] = merge1['Success Tracks'].fillna('Not Elegible')
        #-----------------------------------------------------------------------------------------------------------------
        # if contract type is in list_st mark it as 'Not Elegible'
        lista_st = ['L1NB3','L1NB5','L1NBD','L1SWT','L24H3','L24H5','L24HR','L2NB3','L2NB5','L2NBD','L2SWT']
        for i in merge1.index:
            if type(merge1.iloc[i,8]) == float:
                pass
            else:
                if merge1.iloc[i,8] in lista_st:
                    merge1.iloc[i,33]=merge1.iloc[i,8].replace(merge1.iloc[i,8],'Not Elegible')
        #------------------------------------------------------------------------------------------------------------------
        #Else mark it as 'Elegible'
        for i in merge1.index:
            if merge1.iloc[i,33] != 'Not Elegible':
                merge1.iloc[i,33]=merge1.iloc[i,33].replace(merge1.iloc[i,33],'Elegible')


        merge1['SmartNet NBD ST Eligible'] = merge1['Default Service List Price USD']
        for i in merge1.index:
            if merge1.iloc[i,33] != 'Elegible':
                merge1.iloc[i,36] = 0
        #-----------------------------------------------Calculating DNA HW Appliance-----------------------------------------------
        #Check if 'DN2-HW-APL' or 'DN1-HW-APL' is in product ID and mark it as 1
        merge1['DNA HW Appliance'] = merge1['Product ID']
        for i in merge1.index:
            if 'DN2-HW-APL' in merge1.iloc[i,21] or 'DN1-HW-APL' in merge1.iloc[i,21]:
                merge1.iloc[i,37] = merge1.iloc[i,37].replace(merge1.iloc[i,37], '1')
        # If not mark it as 0
        for i in merge1.index:
            if merge1.iloc[i,37] != '1':
                merge1.iloc[i,37] = '0'

        #-----------------------------------------------Calculating SmartNet ST Not Covered-----------------------------------------------
        # If it's not covered and 1 in DNA HW Appliance get the annualized extended contract line list USD Amount
        merge1['SmartNet ST Not Covered'] = 0
        for i in merge1.index:
            if merge1.iloc[i,5] == 'NOT COVERED' and merge1.iloc[i,37] == '1' :
                merge1.iloc[i,38] = merge1.iloc[i,24]

        #-----------------------------------------------Calculating ST Estimated List Price-----------------------------------------------
        #merge1['ST Estimated List Price'] = (merge1['L2NBD'] + merge1['L2SWT'])*merge1['Item Quantity']
        merge1['ST Estimated List Price'] = merge1['L2NBD']*merge1['Item Quantity']

        #------------------------------------------------------Filtering------------------------------------------------------------------
        merge1 = merge1[merge1['Coverage'] == 'COVERED']
        merge1 = merge1[merge1['Success Tracks'] == 'Elegible']

        #----------------------------------------Calculating Total ST Oppty KPI------------------------------------------------------------

        sn_nbd_st_e = merge1['SmartNet NBD ST Eligible'].sum()
        sn_st_not_covered = merge1['SmartNet ST Not Covered'].sum()
        st_e_list_price = merge1['ST Estimated List Price'].sum()
        ST_Oppty= st_e_list_price - sn_st_not_covered - sn_nbd_st_e
        lista_oppty.append(round(ST_Oppty/1000, 1))
        lista_sav_id.append(j)
        print('Account ID: ',j,'ST_Oppty: ', round(ST_Oppty/1000, 1), 'Estimated list price: ', st_e_list_price, 'Originally Negative')
    else:
        lista_oppty.append(round(ST_Oppty/1000, 1))
        lista_sav_id.append(j)
        print('Account ID: ',j,'ST_Oppty: ', round(ST_Oppty/1000, 1), 'Estimated list price: ', st_e_list_price)

Account ID:  222173994 ST_Oppty:  32.5 Estimated list price:  98831.29000000001
Account ID:  230366718 ST_Oppty:  581.9 Estimated list price:  1121225.82
Account ID:  203840606 ST_Oppty:  615.8 Estimated list price:  1015879.34
Account ID:  207593001 ST_Oppty:  73.5 Estimated list price:  237063.9
Account ID:  283468065 ST_Oppty:  23.7 Estimated list price:  79735.88
Account ID:  203772167 ST_Oppty:  282.7 Estimated list price:  574074.92
Account ID:  203772245 ST_Oppty:  98.8 Estimated list price:  152665.31
Account ID:  203711644 ST_Oppty:  229.5 Estimated list price:  436248.95999999996
Account ID:  203849413 ST_Oppty:  324.9 Estimated list price:  534043.56
Account ID:  203701565 ST_Oppty:  512.7 Estimated list price:  761234.36
Account ID:  283536694 ST_Oppty:  400.8 Estimated list price:  979038.4199999999
Account ID:  203743221 ST_Oppty:  187.0 Estimated list price:  536276.16
Account ID:  233445185 ST_Oppty:  96.2 Estimated list price:  255020.72
Account ID:  203785620 ST_Oppty:  326.3 Estimated list price:  977013.0
Account ID:  203729711 ST_Oppty:  274.3 Estimated list price:  703569.33
Account ID:  203853367 ST_Oppty:  346.9 Estimated list price:  842524.0800000001
Account ID:  203851345 ST_Oppty:  208.0 Estimated list price:  429368.18000000005
Account ID:  203730139 ST_Oppty:  239.9 Estimated list price:  521006.19
Account ID:  215268553 ST_Oppty:  596.1 Estimated list price:  960287.0
Account ID:  203793594 ST_Oppty:  57.8 Estimated list price:  166121.0
Account ID:  203779032 ST_Oppty:  320.0 Estimated list price:  656022.3200000001
Account ID:  203701558 ST_Oppty:  270.6 Estimated list price:  589831.7200000001
Account ID:  203798706 ST_Oppty:  250.3 Estimated list price:  599494.4199999999
Account ID:  203782614 ST_Oppty:  293.4 Estimated list price:  618780.6299999999
Account ID:  283548133 ST_Oppty:  327.0 Estimated list price:  718194.5
Account ID:  203725068 ST_Oppty:  142.9 Estimated list price:  677298.03
Account ID:  203800727 ST_Oppty:  210.3 Estimated list price:  601921.4199999999
Account ID:  203793255 ST_Oppty:  257.3 Estimated list price:  492785.29000000004
Account ID:  249259885 ST_Oppty:  224.5 Estimated list price:  631596.3099999999
Account ID:  203727767 ST_Oppty:  67.5 Estimated list price:  203347.0
Account ID:  203755582 ST_Oppty:  348.1 Estimated list price:  548022.74
Account ID:  203843761 ST_Oppty:  174.2 Estimated list price:  355181.38
Account ID:  203791568 ST_Oppty:  257.2 Estimated list price:  665279.23
Account ID:  203764524 ST_Oppty:  330.1 Estimated list price:  646277.0
Account ID:  203781759 ST_Oppty:  365.6 Estimated list price:  743358.1399999999
Account ID:  203781770 ST_Oppty:  72.3 Estimated list price:  169962.76
Account ID:  203841558 ST_Oppty:  136.5 Estimated list price:  242802.0
Account ID:  203841548 ST_Oppty:  284.4 Estimated list price:  605774.52
Account ID:  203857779 ST_Oppty:  161.8 Estimated list price:  726780.5800000001
Account ID:  203701971 ST_Oppty:  83.4 Estimated list price:  304378.0
Account ID:  203855785 ST_Oppty:  226.8 Estimated list price:  1597501.1800000002
Account ID:  203733167 ST_Oppty:  367.3 Estimated list price:  842350.69
Account ID:  203840284 ST_Oppty:  126.3 Estimated list price:  261523.04
Account ID:  203693892 ST_Oppty:  310.9 Estimated list price:  671447.2200000001
Account ID:  208393207 ST_Oppty:  733.7 Estimated list price:  1218061.72
Account ID:  203743574 ST_Oppty:  226.2 Estimated list price:  436170.25
Account ID:  203725444 ST_Oppty:  170.5 Estimated list price:  549985.46
Account ID:  203802250 ST_Oppty:  160.2 Estimated list price:  330864.93
Account ID:  203831618 ST_Oppty:  263.1 Estimated list price:  574524.04
Account ID:  203855548 ST_Oppty:  2338.8 Estimated list price:  4820306.11
Account ID:  203727929 ST_Oppty:  195.0 Estimated list price:  389824.04000000004
Account ID:  283538619 ST_Oppty:  269.6 Estimated list price:  608045.6799999999
Account ID:  203779086 ST_Oppty:  201.2 Estimated list price:  344077.82
Account ID:  203704796 ST_Oppty:  899.2 Estimated list price:  1517257.0
Account ID:  203849274 ST_Oppty:  494.2 Estimated list price:  815731.95
Account ID:  203857072 ST_Oppty:  56.5 Estimated list price:  121541.11
Account ID:  203787040 ST_Oppty:  22.6 Estimated list price:  509307.0
Account ID:  203752626 ST_Oppty:  192.5 Estimated list price:  407046.02
Account ID:  203764509 ST_Oppty:  240.2 Estimated list price:  521627.39
Account ID:  214853274 ST_Oppty:  502.1 Estimated list price:  1059932.66
Account ID:  203771253 ST_Oppty:  460.0 Estimated list price:  1103431.54
Account ID:  203733664 ST_Oppty:  345.7 Estimated list price:  1110386.28
Account ID:  203772645 ST_Oppty:  444.3 Estimated list price:  849997.115 Originally Negative
Account ID:  203799520 ST_Oppty:  248.6 Estimated list price:  636801.45
Account ID:  203700860 ST_Oppty:  636.9 Estimated list price:  1185076.35
Account ID:  203836255 ST_Oppty:  258.4 Estimated list price:  516150.93
Account ID:  235522786 ST_Oppty:  270.5 Estimated list price:  565442.0
Account ID:  203694987 ST_Oppty:  175.1 Estimated list price:  290907.37
Account ID:  203694182 ST_Oppty:  399.6 Estimated list price:  1455322.59
Account ID:  203800604 ST_Oppty:  116.5 Estimated list price:  135717.56
Account ID:  203764904 ST_Oppty:  327.1 Estimated list price:  664952.2999999999
Account ID:  283603935 ST_Oppty:  312.3 Estimated list price:  595717.2
Account ID:  203764519 ST_Oppty:  351.5 Estimated list price:  702671.25
Account ID:  203701953 ST_Oppty:  176.3 Estimated list price:  318166.88
Account ID:  203851017 ST_Oppty:  251.0 Estimated list price:  482599.94000000006
Account ID:  203852832 ST_Oppty:  362.7 Estimated list price:  1036522.3999999999
Account ID:  203814636 ST_Oppty:  398.1 Estimated list price:  858407.37
Account ID:  203883086 ST_Oppty:  712.4 Estimated list price:  1305002.82
Account ID:  203858749 ST_Oppty:  285.5 Estimated list price:  542763.93
Account ID:  208731662 ST_Oppty:  271.1 Estimated list price:  492073.13
Account ID:  203850704 ST_Oppty:  389.1 Estimated list price:  881451.8500000001
Account ID:  203854359 ST_Oppty:  378.0 Estimated list price:  811943.04
Account ID:  203752882 ST_Oppty:  516.6 Estimated list price:  1950992.32
Account ID:  203867393 ST_Oppty:  559.4 Estimated list price:  1282480.25
Account ID:  283457801 ST_Oppty:  444.3 Estimated list price:  849997.115 Originally Negative
Account ID:  203701770 ST_Oppty:  71.1 Estimated list price:  135135.93
Account ID:  203703217 ST_Oppty:  120.9 Estimated list price:  364780.16000000003
Account ID:  203771735 ST_Oppty:  154.8 Estimated list price:  301235.70999999996
Account ID:  203771755 ST_Oppty:  169.0 Estimated list price:  265762.0
Account ID:  203857105 ST_Oppty:  338.1 Estimated list price:  598622.5199999999
Account ID:  203699452 ST_Oppty:  1056.6 Estimated list price:  2483962.92
Account ID:  203777157 ST_Oppty:  273.3 Estimated list price:  601726.6799999999
Account ID:  203752916 ST_Oppty:  181.2 Estimated list price:  416690.06
Account ID:  203785407 ST_Oppty:  16.4 Estimated list price:  169155.0
Account ID:  203751257 ST_Oppty:  348.6 Estimated list price:  707664.15
Account ID:  203723997 ST_Oppty:  308.2 Estimated list price:  932943.13
Account ID:  203779056 ST_Oppty:  150.6 Estimated list price:  229721.93
Account ID:  203768665 ST_Oppty:  401.1 Estimated list price:  845433.0
Account ID:  203701886 ST_Oppty:  684.2 Estimated list price:  1345708.02
Account ID:  276782060 ST_Oppty:  308.0 Estimated list price:  637521.79
Account ID:  222059289 ST_Oppty:  354.7 Estimated list price:  679409.0 Originally Negative
Account ID:  203767715 ST_Oppty:  313.3 Estimated list price:  647757.79
Account ID:  203865440 ST_Oppty:  225.6 Estimated list price:  501109.43
Account ID:  203865370 ST_Oppty:  123.2 Estimated list price:  380720.0
Account ID:  252812282 ST_Oppty:  373.6 Estimated list price:  995305.04
Account ID:  210331488 ST_Oppty:  274.0 Estimated list price:  537558.47
Account ID:  203888239 ST_Oppty:  597.5 Estimated list price:  734401.29
Account ID:  203888251 ST_Oppty:  150.9 Estimated list price:  312686.04000000004
Account ID:  203721795 ST_Oppty:  378.1 Estimated list price:  574499.8999999999
Account ID:  203864351 ST_Oppty:  11.7 Estimated list price:  35229.35
Account ID:  203864361 ST_Oppty:  61.2 Estimated list price:  200522.0
Account ID:  203856487 ST_Oppty:  238.9 Estimated list price:  904783.16
Account ID:  203796751 ST_Oppty:  295.0 Estimated list price:  606891.33
Account ID:  203711641 ST_Oppty:  377.5 Estimated list price:  746931.15
Account ID:  203845073 ST_Oppty:  273.5 Estimated list price:  622117.1399999999
Account ID:  203706929 ST_Oppty:  267.3 Estimated list price:  475558.78
Account ID:  222059241 ST_Oppty:  520.7 Estimated list price:  1001584.51 Originally Negative
Account ID:  203809865 ST_Oppty:  281.0 Estimated list price:  679040.3799999999
Account ID:  283409188 ST_Oppty:  167.6 Estimated list price:  303672.98
Account ID:  203798330 ST_Oppty:  317.2 Estimated list price:  599036.02
Account ID:  208246383 ST_Oppty:  206.2 Estimated list price:  373230.0
Account ID:  203885617 ST_Oppty:  292.2 Estimated list price:  657421.9
Account ID:  203853958 ST_Oppty:  168.3 Estimated list price:  346282.62
Account ID:  203796658 ST_Oppty:  248.2 Estimated list price:  531527.3300000001
Account ID:  203784562 ST_Oppty:  91.9 Estimated list price:  267174.06
Account ID:  203696130 ST_Oppty:  383.2 Estimated list price:  744193.21
Account ID:  203790025 ST_Oppty:  256.1 Estimated list price:  567101.16
Account ID:  219645953 ST_Oppty:  497.8 Estimated list price:  813796.7
Account ID:  203837500 ST_Oppty:  239.6 Estimated list price:  631035.7
Account ID:  203887280 ST_Oppty:  297.4 Estimated list price:  551471.04
Account ID:  203704638 ST_Oppty:  203.0 Estimated list price:  416123.17
Account ID:  275020707 ST_Oppty:  384.7 Estimated list price:  717265.97
Account ID:  203743561 ST_Oppty:  213.3 Estimated list price:  421154.66
Account ID:  203875875 ST_Oppty:  158.1 Estimated list price:  313043.24
Account ID:  203720566 ST_Oppty:  226.7 Estimated list price:  946524.54
Account ID:  203800451 ST_Oppty:  225.9 Estimated list price:  513788.94
Account ID:  203789654 ST_Oppty:  3.9 Estimated list price:  16974.0
Account ID:  203724695 ST_Oppty:  169.9 Estimated list price:  325099.61999999994
Account ID:  203777727 ST_Oppty:  226.8 Estimated list price:  664754.34
Account ID:  203854358 ST_Oppty:  334.2 Estimated list price:  645995.78
Account ID:  203854345 ST_Oppty:  334.4 Estimated list price:  622649.79
Account ID:  203849517 ST_Oppty:  420.4 Estimated list price:  835281.43
Account ID:  203863265 ST_Oppty:  330.9 Estimated list price:  558527.13
Account ID:  203769202 ST_Oppty:  515.5 Estimated list price:  879996.23
Account ID:  283713466 ST_Oppty:  318.0 Estimated list price:  776142.24
Account ID:  203855762 ST_Oppty:  276.3 Estimated list price:  561773.99
Account ID:  283505804 ST_Oppty:  349.0 Estimated list price:  557290.7
Account ID:  203750783 ST_Oppty:  265.8 Estimated list price:  464282.0
Account ID:  203777746 ST_Oppty:  539.8 Estimated list price:  971395.0900000001
Account ID:  203778489 ST_Oppty:  183.7 Estimated list price:  517896.0
Account ID:  222216697 ST_Oppty:  61.4 Estimated list price:  170091.65
Account ID:  203890354 ST_Oppty:  61.8 Estimated list price:  103948.72
Account ID:  210331505 ST_Oppty:  156.7 Estimated list price:  300090.04000000004
Account ID:  203856491 ST_Oppty:  372.4 Estimated list price:  735096.39
Account ID:  203861140 ST_Oppty:  418.6 Estimated list price:  903212.0
Account ID:  203842387 ST_Oppty:  796.7 Estimated list price:  1215187.9
Account ID:  203701645 ST_Oppty:  343.9 Estimated list price:  738277.1599999999
Account ID:  203694178 ST_Oppty:  365.9 Estimated list price:  771431.0
Account ID:  203842139 ST_Oppty:  305.0 Estimated list price:  862498.04
Account ID:  203731617 ST_Oppty:  23.9 Estimated list price:  236998.0
Account ID:  203846705 ST_Oppty:  113.6 Estimated list price:  932167.04
Account ID:  203878067 ST_Oppty:  287.7 Estimated list price:  651874.3999999999
Account ID:  203835863 ST_Oppty:  111.2 Estimated list price:  274168.7
Account ID:  209446440 ST_Oppty:  176.0 Estimated list price:  376438.98
Account ID:  283715349 ST_Oppty:  209.9 Estimated list price:  615550.03
Account ID:  203755211 ST_Oppty:  240.7 Estimated list price:  630156.9500000001
Account ID:  203685107 ST_Oppty:  543.4 Estimated list price:  755787.08
Account ID:  203864158 ST_Oppty:  76.6 Estimated list price:  189093.0
Account ID:  203715574 ST_Oppty:  193.2 Estimated list price:  452844.53
Account ID:  203776066 ST_Oppty:  3.1 Estimated list price:  6124.0
Account ID:  203793423 ST_Oppty:  76.8 Estimated list price:  389952.0
Account ID:  203685118 ST_Oppty:  355.5 Estimated list price:  647482.6
Account ID:  203851342 ST_Oppty:  209.2 Estimated list price:  427074.0
Account ID:  203774406 ST_Oppty:  165.1 Estimated list price:  297649.0
Account ID:  203775520 ST_Oppty:  260.4 Estimated list price:  525169.41
Account ID:  283715232 ST_Oppty:  627.4 Estimated list price:  1422711.27
Account ID:  203769646 ST_Oppty:  217.9 Estimated list price:  505064.70000000007
Account ID:  220492577 ST_Oppty:  114.7 Estimated list price:  236195.62
Account ID:  203796653 ST_Oppty:  211.4 Estimated list price:  491057.62
Account ID:  203859164 ST_Oppty:  177.5 Estimated list price:  450377.48
Account ID:  203775556 ST_Oppty:  445.2 Estimated list price:  674295.0
Account ID:  203764514 ST_Oppty:  68.8 Estimated list price:  229677.0
Account ID:  203743997 ST_Oppty:  337.3 Estimated list price:  576754.35
Account ID:  203898969 ST_Oppty:  713.3 Estimated list price:  1031594.77
Account ID:  203898964 ST_Oppty:  458.6 Estimated list price:  752646.44
Account ID:  203782587 ST_Oppty:  455.7 Estimated list price:  1194627.9
Account ID:  203786374 ST_Oppty:  350.0 Estimated list price:  768187.4500000001
Account ID:  203725064 ST_Oppty:  376.4 Estimated list price:  1237790.4
Account ID:  203723296 ST_Oppty:  389.4 Estimated list price:  836650.4099999999
Account ID:  203752238 ST_Oppty:  321.9 Estimated list price:  576540.6
Account ID:  203854347 ST_Oppty:  350.0 Estimated list price:  643724.56
Account ID:  203842576 ST_Oppty:  317.5 Estimated list price:  719790.39
Account ID:  203855838 ST_Oppty:  80.7 Estimated list price:  233449.0
Account ID:  203841466 ST_Oppty:  282.2 Estimated list price:  693718.36
Account ID:  283452400 ST_Oppty:  90.9 Estimated list price:  181012.0
Account ID:  203701556 ST_Oppty:  321.4 Estimated list price:  859830.0800000001
Account ID:  203760826 ST_Oppty:  410.8 Estimated list price:  953011.6799999999
Account ID:  203855544 ST_Oppty:  97.8 Estimated list price:  327916.0
Account ID:  203701444 ST_Oppty:  532.1 Estimated list price:  1076746.8599999999
Account ID:  203785389 ST_Oppty:  463.8 Estimated list price:  2710833.7
Account ID:  283633725 ST_Oppty:  5.8 Estimated list price:  28392.0
Account ID:  222173992 ST_Oppty:  20.8 Estimated list price:  69584.0
Account ID:  203842383 ST_Oppty:  1068.8 Estimated list price:  1336497.8
Account ID:  203860089 ST_Oppty:  665.6 Estimated list price:  1497077.06
Account ID:  203743255 ST_Oppty:  38.7 Estimated list price:  120730.0
Account ID:  230366793 ST_Oppty:  873.6 Estimated list price:  1832742.98
Account ID:  203841470 ST_Oppty:  417.4 Estimated list price:  1037458.1900000001
Account ID:  203715302 ST_Oppty:  420.1 Estimated list price:  909482.0
Account ID:  203786392 ST_Oppty:  192.1 Estimated list price:  326330.08
Account ID:  203749860 ST_Oppty:  268.8 Estimated list price:  564054.6799999999
Account ID:  219745722 ST_Oppty:  478.4 Estimated list price:  832765.34
Account ID:  234623054 ST_Oppty:  348.4 Estimated list price:  546010.2599999999
Account ID:  203787031 ST_Oppty:  214.6 Estimated list price:  663466.04
Account ID:  203703353 ST_Oppty:  235.8 Estimated list price:  513321.31999999995
Account ID:  203772267 ST_Oppty:  432.4 Estimated list price:  1162006.03
Account ID:  203779052 ST_Oppty:  354.4 Estimated list price:  828712.79
Account ID:  203728822 ST_Oppty:  366.0 Estimated list price:  658390.6399999999
Account ID:  203750115 ST_Oppty:  222.6 Estimated list price:  519903.94000000006
Account ID:  203757573 ST_Oppty:  553.9 Estimated list price:  1144237.54
Account ID:  203753422 ST_Oppty:  189.3 Estimated list price:  404900.57999999996
Account ID:  203752887 ST_Oppty:  277.7 Estimated list price:  640185.0
Account ID:  203727761 ST_Oppty:  728.5 Estimated list price:  1787711.52
Account ID:  203891799 ST_Oppty:  1021.8 Estimated list price:  1918264.5299999998
Account ID:  203853372 ST_Oppty:  544.6 Estimated list price:  1275973.19
Account ID:  224965514 ST_Oppty:  379.7 Estimated list price:  864674.9400000001
Account ID:  203783851 ST_Oppty:  699.3 Estimated list price:  1447461.3399999999
Account ID:  203743397 ST_Oppty:  254.9 Estimated list price:  389443.31000000006
Account ID:  203774296 ST_Oppty:  354.7 Estimated list price:  430499.99
Account ID:  203868705 ST_Oppty:  532.7 Estimated list price:  1556578.0
Account ID:  203785348 ST_Oppty:  418.2 Estimated list price:  632578.78
Account ID:  203793548 ST_Oppty:  222.0 Estimated list price:  531179.2
Account ID:  203848453 ST_Oppty:  177.7 Estimated list price:  597276.3099999999
Account ID:  203720565 ST_Oppty:  837.2 Estimated list price:  1114212.72
Account ID:  203725601 ST_Oppty:  428.6 Estimated list price:  924988.9199999999
Account ID:  203752984 ST_Oppty:  762.4 Estimated list price:  1588698.08
Account ID:  203721065 ST_Oppty:  739.3 Estimated list price:  1481727.24
Account ID:  203684845 ST_Oppty:  627.6 Estimated list price:  1302207.98
Account ID:  203883007 ST_Oppty:  676.9 Estimated list price:  784079.0800000001
Account ID:  203849515 ST_Oppty:  202.0 Estimated list price:  617140.55
Account ID:  203755555 ST_Oppty:  502.1 Estimated list price:  999128.87
Account ID:  203850240 ST_Oppty:  676.6 Estimated list price:  1375173.9500000002
Account ID:  210904582 ST_Oppty:  581.2 Estimated list price:  2046111.86
Account ID:  203883062 ST_Oppty:  536.1 Estimated list price:  2162670.44
Account ID:  203733469 ST_Oppty:  1321.5 Estimated list price:  2038736.0
Account ID:  203773771 ST_Oppty:  364.4 Estimated list price:  1130921.33
Account ID:  203775558 ST_Oppty:  246.5 Estimated list price:  617207.75
Account ID:  203887258 ST_Oppty:  289.7 Estimated list price:  620026.03
Account ID:  203773172 ST_Oppty:  712.3 Estimated list price:  1337006.18
Account ID:  203794591 ST_Oppty:  1170.8 Estimated list price:  2124023.56
Account ID:  203854362 ST_Oppty:  404.8 Estimated list price:  774098.34
Account ID:  203778785 ST_Oppty:  568.6 Estimated list price:  806220.19
Account ID:  203711658 ST_Oppty:  580.6 Estimated list price:  784847.3300000001
Account ID:  208321168 ST_Oppty:  336.8 Estimated list price:  380798.7
Account ID:  203888254 ST_Oppty:  639.2 Estimated list price:  895804.0399999999
Account ID:  203846706 ST_Oppty:  88.8 Estimated list price:  127968.0
Account ID:  203711653 ST_Oppty:  287.1 Estimated list price:  689234.04
Account ID:  203888246 ST_Oppty:  251.5 Estimated list price:  487985.8
Account ID:  229095176 ST_Oppty:  360.7 Estimated list price:  746672.6599999999
Account ID:  203752639 ST_Oppty:  236.5 Estimated list price:  527544.0
Account ID:  203778487 ST_Oppty:  892.3 Estimated list price:  1562170.2
Account ID:  283641850 ST_Oppty:  620.6 Estimated list price:  1324214.24
Account ID:  203701580 ST_Oppty:  580.6 Estimated list price:  1093293.98
Account ID:  203778788 ST_Oppty:  544.6 Estimated list price:  718441.28
Account ID:  203778779 ST_Oppty:  399.3 Estimated list price:  816442.03
Account ID:  203778790 ST_Oppty:  649.2 Estimated list price:  1745472.3
Account ID:  203773957 ST_Oppty:  225.7 Estimated list price:  684268.35

In [7]:
df_st_oppty = pd.DataFrame()
df_st_oppty['ID'] = lista_sav_id
df_st_oppty['ST_Oppty'] = lista_oppty
df_st_oppty

             ID ST_Oppty
0     222173994     32.5
1     230366718    581.9
2     203840606    615.8
3     207593001     73.5
4     283468065     23.7
...         ...      ...
1334  283714968   1022.0
1335  203797997  22797.1
1336  283715236   4357.3
1337  283714970   2029.1
1338  283715230   4184.1

[1339 rows x 2 columns]

In [8]:

df_st_oppty.to_csv('ST_Oppty_5-2-2022.csv')