In [5]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import glob

In [6]:
#Cargando archivo del mapping
nbd_mapping = pd.read_csv(r"C:\Users\jmarinbe\OneDrive - Cisco\Cisco Tableau\CR Template.twb Files\Data\Data\uncovered.csv").fillna(0)
#nbd_mapping = nbd_mapping[["",""]]
nbd_mapping.head(3)

C:\Users\jmarinbe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (33,34,35,36,37,38,42,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Bk Sales Account Id Int,Branch Primary Name,L1 Sales Territory Descr,L2 Sales Territory Descr,Coverage,Service Contract Number,Contract Line Status,Serial Number,Contract Line End Date,Contract Line End Fiscal Quarter,...,Equipment Type,Updated Date,Account Id,Contract Line Status From Ib,Line Status,Sntc Nbd List Price,Sspt Nbd List Price,SSPT Eligible Flag,SNTC Eligible Flag,Branch Party Ssot Party Id Int
0,203739089,DISCOVER FINANCIAL SERVICES,0,0,0,0.0,0,FDO2517M1MG,0,0.0,...,3.0,2022-03-03,SAV,0,MISS ATTACH 3mo - 12mo,531.37,590.67,Y,Y,-999.0
1,203739089,DISCOVER FINANCIAL SERVICES,0,0,0,0.0,0,FNS22060ZTL,0,0.0,...,9.0,2022-03-03,SAV,0,MISS ATTACH ABOVE 36mo,0.00,0.00,N,N,-999.0
2,203739089,DISCOVER FINANCIAL SERVICES,0,0,0,0.0,0,ONT1152006L,0,0.0,...,9.0,2022-03-03,SAV,0,MISS ATTACH ABOVE 36mo,0.00,0.00,N,N,-999.0